@import url(./atheme/liano.css);
@import url(./atheme/darkcode.css);
:root {
    --select-text-bg-color: #6e7b99;/* 文本选中背景色 */
    --bg-color: #121212;/* 整体背景色 */
    --write-color: #262626; /* 书写区背景色 */
    --sidebarbg-color: #1a1a1a;/* 侧边栏背景色 */
    --focus-color: #ff5d52;/* 点击某些元素（如标题）显示的颜色 */
    --codeblockbg-color: #1a1a1a;/* 代码块背景色 */
    --codeblockfont-color: #a9a9a9;/* 代码块默认字体颜色 */
    --codeblockline-color: #263238;/* 代码块选中行颜色 */
    --h2-color: #FFAE42;
    --h3-color: #6699CC;
    --h4-color: #00c4b6;
    --h5-color: #964B00;/* 各级标题点缀颜色（绿色） */
    --codeblocknum-color: rgba(128, 128, 255, 0.8);/* 代码块行编号颜色 */
    --blockquoteicon-color: #5fa7e4;/* blockquote提示图标色 */
    --blockquotebg-color: #263238;/* blockquote背景色 */
    --ulol-color: #8b8b8b;/* 有序无序列表前缀颜色 */
    --olfore-color: white; /* 有序列表字体颜色 */
    --tableevenrow-color: #1a1a1a;/* 表格偶数行颜色 */
    --tablefocusrow-color: #263238;/* 表格鼠标悬停行颜色 */
    --tableborder-color: #2f642e;/* 表格边框色 */
    --tablethbg-color: rgba(199, 237, 204, 0.2); /* 表格表头背景色（淡绿） */
    --scrollbar-color: #2f845e;/* 滚动条颜色 */
    --toc-color: green;/* 目录颜色（绿色） */
    --atext-color: green;/* 超链接文本颜色 */
    --abottom-color: #81d8cf;/* 超链接下划线颜色 */
    --code-color: #ff3502;/* 行内代码前景色 */
    --codebg-color: #263238;/* 行内代码背景色 */
    --highlight-color: red; /* 高亮文本前景色 */
    --highlightbg-color: yellow;/* 高亮文本背景色 */
    --split-color: #00c4b6; /* 分割线颜色 */
    --body-color: #e6e6e6;/* 文本颜色 */
    --para-color: #a9a9a9;/* 段落文本颜色 */
    --sidelist-selected-color: #263238;/* 侧边栏条目选中背景色 */
    --yamlbg-color: #1a1a1a;/* 头部YAML背景色 */
    --yaml-color: #7f9bb7;/* 头部YAML字体颜色 */
    --body-font: 'Cantarell', 'SourceHanSerifCN', 'JetBrainsMono';
    --code-font: 'JetBrainsMono', 'SourceHanSerifCN', monospace;
    --text-color: #aaa;
}
img {
    filter: brightness(80%);
}