/* 引入样式 */
@import url("./atheme/atheme.css");
/* 字体资源 */
@font-face {
    font-family: "iconfont";
    src: url('./atheme/iconfont.ttf') format('truetype');
}
@font-face {
    font-family: "Fira Code";
    src: url('./atheme/FiraCode.ttf');
}
@font-face {
    font-family: "PT Serif";
    src: url('./atheme/PTSerif.ttf');
}
@font-face {
    font-family: "Jet Brains";
    src: url('./atheme/JetBrains.ttf');
}
@font-face {
    font-family: "Song";
    src: url('./atheme/Song.ttf');
}
@font-face {
    font-family: "Kai";
    src: url('./atheme/Kai.ttf');
}
@font-face {
    font-family: "Sans";
    src: url('./atheme/OPPOSans.ttf');
}
/* 变量配置 */
:root {
    /* 基本颜色 */
    --bg-color: #f1faee;
    --text-color: #000;
    --write-bg-color: #fff;
    /* 链接 */
    --link-under-color: #2a9d8f;
    --link-text-color: #1b98e0;
    --link-hover-bg-color: #2a9d8f;
    --link-hover-text-color: #fff;
    /* 标题 */
    --h1-hover-under-color: #e76f51;
    --h2-under-color: #f4a261;
    --h2-bg-color: #f4a261;
    --h2-text-color: #fff;
    --h2-icon-color: #f4a261;
    --h2-shadow-color: rgba(0, 0, 0, 0.1);
    --h3-bg-color: #219ebc;
    --h3-text-color: #fff;
    --h3-shadow-color: rgba(0, 0, 0, 0.6);
    --h4-border-color: #2a9d8f;
    --h5-border-color: #606c38;
    /* 引用 */
    --quote-before-bg-color: #e9ecef;
    --quote-text-color: #333;
    --quote-bg-color: #f8f9fa;
    --quote-icon-color: #1b98e0;
    --quote-hover-icon-color: red;
    --note-border-color: #3e69d7;
    --note-bg-color: rgba(62, 105, 215, 0.06);
    --tip-border-color: #03b736;
    --tip-bg-color: rgba(3, 183, 54, 0.06);
    --important-border-color: #8250df;
    --important-bg-color: rgba(130, 80, 223, 0.06);
    --warning-border-color: #e30f2e;
    --warning-bg-color: rgba(227, 15, 46, 0.06);
    --caution-border-color: #f59102;
    --caution-bg-color: rgba(245, 145, 2, 0.06);
    /* 表格 */
    --table-head-text-color: red;
    --table-head-bg-color: #b3e5fc;
    --table-line-color: #1b98e0;
    --table-even-bg-color: #f8f9fa;
    /* 代码 */
    --codeblock-before-bg-color: #e9ecef;
    --codeblock-text-color: #000;
    --codeblock-bg-color: #f8f9fa;
    --codeblock-num-color: red;
    --codeblock-line-color: #dee2e6;
    --codeblock-cursor-color: #007bff;
    --codeblock-hover-color: #8ecae6;
    --code-text-color: #4870ac;
    --code-bg-color: #f6f8fa;
    /* 列表 */
    --list-marker-color: #1e98e0;
    --list-marker-bg-color: #f8f9fa;
    --list-text-color: #000;
    /* 侧栏 */
    --sidebar-bg-color: #f8f9fa;
    --sidebar-border-color: #aaa;
    --sidebar-hover-text-color: #1b98e0;
    --sidebar-hover-bg-color: #e9ecef;
    /* 滚动条 */
    --scrollbar-bg-color: #1b98e0;
    --scrollbar-track-color: #f8f9fa;
    /* 其他 */
    --toc-border-color: #1b98e0;
    --toc-image: url("./jewelry.jpeg");
    --inlinemath-text-color: #1b98e0;
    --yaml-text-color: #495057;
    --yaml-bg-color: #f8f9fa;
    --highlight-bg-color: #fff3cd;
    --highlight-text-color: #856404;
    --split-color: red;
    /* 字体 */
    --body-font: "PT Serif", 'Song', serif;
    --head-font: 'PT Serif', 'Kai', serif;
    --code-font: 'Jet Brains', 'Song', monospace;
}