/* 整体 */
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
}
body {
    font-family: var(--body-font);
    color: var(--text-color);
    line-height: 1.6rem;
}
#write {
    background-color: var(--write-bg-color);
    max-width: 900px;
    margin: 60px auto;
    padding: min(6%, 80px);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 12px;
}
#write p {
    line-height: 1.6rem;
    word-spacing: .05rem;
}
/* 超链接 */
#write a {
    border-bottom: 2px solid var(--link-under-color);
    padding: 0 4px;
    transition: .3s;
    color: var(--link-text-color);
    text-decoration: none;
}
#write a:hover {
    border-radius: 6px;
    border-bottom: 2px solid transparent;
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-text-color);
    cursor: pointer;
}
/* 标题 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--head-font);
    position: relative;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 1.6rem;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
}
h1 span {
    display: inline-block;
    position: relative;
}
h1 span:after {
    background: var(--h1-hover-under-color);
    bottom: -5px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
h1:hover span:after {
    transform: scaleX(1);
}
h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--h2-under-color);
}
h2 span {
    display: inline-block;
    background: var(--h2-bg-color);
    color: var(--h2-text-color);
    padding: 3px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.5);
}
@keyframes avatar_turn_around {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}
h2::before {
    content: '\e614' !important;
    color: var(--h2-icon-color);
    font-family: "iconfont";
    display: inline-block;
    animation: avatar_turn_around 2s linear infinite;
    font-size: 28px;
    margin-left: -28px;
}
h2:hover::before {
    animation: avatar_turn_around 0.5s linear infinite;
}
h2::after {
    display: inline-block;
    content: "";
    vertical-align: bottom;
    border-bottom: 1.6rem solid var(--h2-shadow-color);
    border-right: 1.6rem solid transparent;
}
h3 {
    font-size: 1.3rem;
}
h3 span {
    display: inline-block;
    padding: 3px 10px;
    background: var(--h3-bg-color);
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--h3-text-color);
}
h3::before {
    content: "";
    position: absolute;
    border-bottom: 8px solid var(--h3-shadow-color);
    border-left: 8px solid transparent;
    top: -8px;
}
h3 span:hover {
    padding-left: 15px;
    transition: 0.5s;
}
h4 {
    margin-top: 0.8rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: var();
    padding: 2px 8px;
    font-size: 1.2rem;
    display: inline-block;
    border: 1px solid var(--h4-border-color);
    border-top: 3px solid var(--h4-border-color);
    border-radius: 4px;
}
h5 {
    margin-top: 0.6rem;
    padding: 2px 8px;
    font-size: 1.1rem;
    border-left: 3px solid var(--h5-border-color);
    border-radius: 2px;
}
h6 {
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
/* 引用块 */
blockquote {
    font-family: var(--head-font);
    color: var(--quote-text-color);
    background-color: var(--quote-bg-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 3px;
    position: relative;
    transition: 0.5s;
    padding: 0px 15px 5px;
}
blockquote::before {
    content: '\ec81';
    display: block;
    margin: 5px -15px;
    padding-left: 15px;
    font-family: "iconfont";
    font-size: 1.2rem;
    color: var(--quote-icon-color);
    background-color: var(--quote-before-bg-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
blockquote:hover {
    transform: translateX(-8px);
}
blockquote:hover::before {
    color: var(--quote-hover-icon-color);
}
/* 表格 */
table {
	margin-bottom: 20px;
}
table th {
	color: var(--table-head-text-color);
}
table td:is(:first-child) {
	font-weight: bold;
}
table th:not(:last-child),
table td:not(:last-child) {
	border-right: 1px dashed var(--table-line-color);
}
table th,
table td {
	padding: 8px;
	line-height: 1.25rem;
	vertical-align: top;
	border-top: 1px solid var(--table-line-color);
}
thead tr {
	background-color: var(--table-head-bg-color);
}
tbody tr:nth-of-type(2n) {
	background-color: var(--table-even-bg-color);
}
table th {
	font-weight: bold;
}
table thead th {
	vertical-align: bottom;
}
table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}
table tbody+tbody {
	border-top: 2px solid var(--table-line-color);
}
/* 代码块 */
.md-fences {
    padding-top: 30px;
    background-color: var(--codeblock-before-bg-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 3px;
    transition: 0.5s;
}
.md-fences::before {
    position: absolute;
    left: 10px;
    top: 8px;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(252, 98, 93);
    box-shadow: 25px 0px rgb(253, 188, 64),
                50px 0px rgb(53, 205, 75);
}
.md-fences:hover {
    transform: translateY(-8px);
}
.cm-s-inner.CodeMirror {
    padding: 3px;
    font-family: var(--code-font);
    font-size: 0.9rem;
    color: var(--codeblock-text-color);
    background-color: var(--codeblock-bg-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.CodeMirror-linenumber {
    font-size: 0.9rem;
    color: var(--codeblock-num-color);
}
.CodeMirror-gutters {
    border-right: 1px solid var(--codeblock-line-color);
}
#write .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 2px solid var(--codeblock-cursor-color);
}
.md-fences:not(.md-focus) .CodeMirror-code>*:hover {
    background-color: var(--codeblock-hover-color);
}
.md-fences.md-focus .CodeMirror-code>div.CodeMirror-activeline {
    background-color: var(--codeblock-hover-color);
}
/* 行内公式 */
[md-inline='inline_math'] {
    color: var(--inlinemath-text-color);
    font-size: 100%;
}
/* meta块 */
pre.md-meta-block {
    font-family: var(--head-font);
    color: var(--yaml-text-color);
    padding: 15px;
    background: var(--yaml-bg-color);
    filter: drop-shadow(#d2dff4 0px 3px 3px);
}
/* 高亮 */
#write span[md-inline="highlight"] mark {
    background-color: var(--highlight-bg-color);
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: var(--highlight-text-color);
    font-weight: bold;
}
/* 行内代码 */
#write code {
    font-family: var(--code-font);
    font-size: 0.9rem;
    color: var(--code-text-color);
    background-color: var(--code-bg-color);
    box-shadow: 0 0 1px 1px #c8d3df;
    margin: 0 3px 0 3px;
    padding: 0 2px 0 2px;
    border-radius: 2px 2px 2px 2px;
}
/* 分隔线 */
hr {
    width: 100%;
    margin: 0 auto;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--split-color), rgba(0, 0, 0, 0));
}
/* 图片 */
.md-image {
    margin: 15px auto 5px;
}
img {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 3px;
    border-radius: 1.2rem;
    transition: 0.5s;
}
img:hover {
    transform: scale(1.1);
}
#write {
    counter-reset: imgNum;
}
.md-image::after {
    counter-increment: imgNum;
    content: "Fig." counter(imgNum);
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 8px;
    font-family: var(--code-font);
    font-size: small;
}
/* 侧边栏 */
#typora-sidebar {
    background-color: var(--bg-color);
}
.outline-content {
    background-color: var(--sidebar-bg-color);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 3px;
}
.outline-item {
    font-size: 16px;
}
.outline-item:hover {
    color: var(--sidebar-hover-text-color);
    background-color: var(--sidebar-hover-bg-color);
}
/* 列表 */
::marker {
    font-weight: bold;
    color: var(--list-marker-color);
}
li.md-list-item {
    margin: 0.4rem 0;
}
#write ul,
#write ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}
#write ul {
    list-style-type: disc;
}
#write em {
    padding: 0 3px 0 0;
}
#write ul ul {
    list-style-type: square;
}
#write ol {
    list-style-type: decimal;
}
#write li section {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7rem;
    text-align: justify;
    color: var(--list-text-color);
    font-weight: 500;
}
#write input[type=checkbox] {
    width: 0;
}
.task-list-item input::before {
    content: "";
    display: inline-block;
    width: 1.0125rem;
    height: 1.0125rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid var(--list-marker-color);
    border-radius: 1.2rem;
    background-color: #fdfdfd;
    margin-left: -0.1rem;
    margin-right: 0.1rem;
    margin-top: -.6rem;
}
.task-list-item input:checked::before {
    content: '✓';
    font-weight: bold;
    -webkit-text-stroke: 1px var(--list-marker-color);
    color: var(--list-marker-color);
    background-color: var(--list-marker-bg-color);
    font-size: 0.75rem;
    line-height: 0.8rem;
}
/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;  
    height: 0px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-bg-color);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 93, 143, 1) 25%, transparent 25%, transparent 50%, rgba(255, 93, 143, 1) 50%, rgba(255, 93, 143, 1) 75%, transparent 75%, transparent);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: var(--scrollbar-track-color);
}
/* 目录 */
#write a.md-toc-inner {
    font-weight: bold;
    border-bottom: none;
}
.md-toc {
    margin-top: 40px;
    padding-bottom: 20px;
    border: 1px dashed var(--toc-border-color);
	background-image: var(--toc-image);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto;
	background-origin: padding-box;
}
.md-toc::before {
	content: '目录 Contents';
	display: table;
	border-bottom: 1px dashed var(--toc-border-color);
	padding: 0.4em 0em 0.4em 1em;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	height: 1.8em;
}
/* 打印PDF */
@media print {
    html,
    body {
        font-size: 15px !important;
    }
    pre {
        page-break-inside: avoid;
        word-wrap: break-word;
    }
    #write {
        box-shadow: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    img {
        box-shadow: none !important;
    }
}